# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.sqlite3
.env
*.log

# OS / IDEs
.DS_Store
.idea/
.vscode/

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
